<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<title>DAWATI SAMAWATI</title>
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/w3.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="static/css/mbr-additional.css" type="text/css">
  
</head>
<body>

<!-- <style type="text/css">
  body{
    margin: 0px 32.5px;
    margin-left: auto;
    margin-right: auto;
  }
</style>  --> 

<div class="w3-content" style="max-width:1500px">

{% include 'nav.html' %}






  <section class="features6 cid-rOMc65PcX5" id="features06-4b">

    

    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">



                <h3 class=" align-center pb-3">&nbsp;<a href="{{ url_for('free_trade') }}" class="w3-button w3-white">FREE TRADE</a></h3>

            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">

                    <div class="img-wrapper">
                        <img src="static/eac.png" alt="Mobirise">
                    </div>
                    <div class="card-box align-left">
                        <h4 class="card-title align-left mbr-semibold mbr-black mbr-fonts-style display-7">
                            <strong>Tanzania</strong></h4>
                        <p class="mbr-text pb-2  mbr-fonts-style display-4">
                            Tanzania is an East African country known for its vast wilderness areas.</p>
                        <!-- <div class="link-wrap">
                            <h5 class="link align-left mbr-semibold mbr-black mbr-fonts-style display-4"><a href="#">Read more</a></h5>

                        </div> -->
                    </div>

                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">

                    <div class="img-wrapper">
                        <img src="static/eac.png" alt="Mobirise">
                    </div>
                    <div class="card-box align-left">
                        <h4 class="card-title align-left mbr-semibold mbr-black mbr-fonts-style display-7">
                            <strong>Uganda</strong></h4>
                        <p class="mbr-text pb-2  mbr-fonts-style display-4">
                            Uganda is a landlocked country in East Africa whose diverse landscape encompasses the snow-capped Rwenzori Mountains and immense Lake Victoria.</p>

                        <!-- <div class="link-wrap">
                            <h5 class="link align-left mbr-semibold mbr-black mbr-fonts-style display-4"><a href="#">Read more</a></h5>

                        </div> -->
                    </div>

                </div>
            </div>



            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">

                    <div class="img-wrapper">
                        <img src="static/eac.png" alt="Mobirise">
                    </div>
                    <div class="card-box align-left">
                        <h4 class="card-title align-left mbr-semibold mbr-black mbr-fonts-style display-7">
                            <strong>Rwanda</strong></h4>
                        <p class="mbr-text pb-2  mbr-fonts-style display-4">
                            Rwanda, is a landlocked country in the Great Rift Valley of Central Africa, where the African Great Lakes region and Southeast Africa converge..</p>

                       <!--  <div class="link-wrap">
                            <h5 class="link align-left mbr-semibold mbr-black mbr-fonts-style display-4"><a href="#">Read more</a></h5>

                        </div> -->
                    </div>

                </div>
            </div>



            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">

                    <div class="img-wrapper">
                        <img src="static/eac.png" alt="Mobirise">
                    </div>
                    <div class="card-box align-left">
                        <h4 class="card-title align-left mbr-semibold mbr-black mbr-fonts-style display-7">
                            <strong>DRC</strong></h4>
                        <p class="mbr-text pb-2  mbr-fonts-style display-4">
                            The Democratic Republic of the Congo, informally Congo-Kinshasa, DR Congo, is a country in Central Africa.</p>
                       <!--  <div class="link-wrap">
                            <h5 class="link align-left mbr-semibold mbr-black mbr-fonts-style display-4"><a href="#">Read more</a></h5>

                        </div> -->
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>

{% include 'footer.html' %}

</div>
</body>
</html>